<?xml version='1.0' encoding='utf-8'?>
<Context useHttpOnly="true" privileged="false">
    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

    <!-- Uncomment this to enable Comet connection tacking (provides events
         on session expiration as well as webapp lifecycle) -->
    <!--
    <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    -->

    <!-- ##DATASOURCES## -->

    <!--
      If you want no JMS Pooling, you can use IBM JMS Classes Directly:
        type="com.ibm.mq.jms.MQQueueConnectionFactory"
        factory="com.ibm.mq.jms.MQQueueConnectionFactoryFactory"
      -->

    <Resource
            name="jms/MyQCF1"
            global="jms/MyQCF1"
            auth="Container"
            type="org.messaginghub.pooled.jms.JmsPoolConnectionFactory"
            factory="com.example.jms.CachingMQConnectionFactory"
            description="JMS Queue Connection Factory for sending messages"
            HOST="qmgr1"
            PORT="1414"
            CHAN="DEV.APP.SVRCONN"
            TRAN="1"
            QMGR="QMGR1"/>

    <Resource
            name="jms/MyQCF2"
            global="jms/MyQCF2"
            auth="Container"
            type="org.messaginghub.pooled.jms.JmsPoolConnectionFactory"
            factory="com.example.jms.CachingMQConnectionFactory"
            description="JMS Queue Connection Factory for sending messages"
            HOST="qmgr2"
            PORT="1414"
            CHAN="DEV.APP.SVRCONN"
            TRAN="1"
            QMGR="QMGR1"/>

    <Resource
            name="jms/MyQCF3"
            global="jms/MyQCF3"
            auth="Container"
            type="org.messaginghub.pooled.jms.JmsPoolConnectionFactory"
            factory="com.example.jms.CachingMQConnectionFactory"
            description="JMS Queue Connection Factory for sending messages"
            HOST="qmgr3"
            PORT="1414"
            CHAN="DEV.APP.SVRCONN"
            TRAN="1"
            QMGR="QMGR1"/>

    <Resource
            name="jms/MyQCF4"
            global="jms/MyQCF4"
            auth="Container"
            type="org.messaginghub.pooled.jms.JmsPoolConnectionFactory"
            factory="com.example.jms.CachingMQConnectionFactory"
            description="JMS Queue Connection Factory for sending messages"
            HOST="qmgr4"
            PORT="1414"
            CHAN="DEV.APP.SVRCONN"
            TRAN="1"
            QMGR="QMGR1"/>

</Context>
